<h1>Lazy-Loading Components Without Routing</h1>

<p>Check out the "Network" tab in F12 DevTools.</p>

<p>Then, click "Load!".</p>
<button type="button" (click)="showDialog()">Show Dialog!</button>
<button type="button" (click)="loadComponent()">Load!</button>
<a routerLink="/load-me-later">Go To Load Me Later</a>

<hr />

<a
  routerLink="/load-me-later"
  [queryParams]="{ hallo: 'Gregor', city: 'Hattingen' }"
  >?hallo=Steffen&city=Hattingen</a
>
|
<a
  routerLink="/load-me-later"
  [queryParams]="{ hallo: 'Steffen', city: 'Hattingen' }"
  >?hallo=Steffen&city=Hattingen</a
>
|
<a
  routerLink="/load-me-later"
  [queryParams]="{ hallo: 'Steffen', city: 'Leipzig' }"
  >?hallo=Steffen&city=Leipzig</a
>
|
<a
  routerLink="/load-me-later"
  [queryParams]="{
    hallo: 'Steffen',
    city: 'Leipzig',
    hobbies: ['1', '2', '3', true]
  }"
  >Serialisierte Parameter</a
>

<hr />

<a routerLink="/load-me-later/sample/steffen/other">Sample</a>

<div #testOutlet></div>

<!-- vormals ui-view -->
<router-outlet></router-outlet>
